<h3>Welcome to Sinatra!</h3>
<ul>
	<p>
	<%= "visit ./persons to list all the persons." %>
	</p>
	<p>
	<%= "visit ./events to list all the events." %>
	</p>
	<p>
	<%= "visit ./registrations to list all the registrations." %>
	</p>
	<p>
	<%= "visit ./person/new to create a new person." %>
	</p>
	<p>
	<%= "visit ./event/new to create a new event." %>
	</p>
	<p>
	<%= "visit ./registration/new to create a new registration." %>
	</p>
</ul>


