<h3> List Persons</h3>
<ul>
	<% @persons.each do |person| %>
		<li>
			<%= "ID: " + person.id.to_s %> <br>
			<%= "Name: " + person.name %> <br>
			<%= "Date of birth: " + person.date_of_birth.to_s %> <br>
			<%= "Gender: " + person.gender %> <br>
			<%= "Zipcode: " + person.zipcode %> <br>
		</li>
	<% end %>
</ul>
<a href="/">BACK TO HOME</a>
