<div class="panel panel-default">
  <div class="panel-body">
    <!-- Profile Image -->
    <a href="#"><img class="img-responsive" alt="" src="/images/profile_500x500.png"></a>

    <!-- Profile Info -->
		<% unless @info[:target_user].profile[:name].empty? %>
			<div class="twPc-divName">
				<%= @info[:target_user].profile[:name] %>
			</div>
		<% end %>

    <div>
      <a href="/user/<%= @info[:target_user]._id %>">@<%= @info[:target_user].handle %></a>
    </div>

		<% unless @info[:target_user].profile[:bio].empty? %>
			<div>
				<%= @info[:target_user].profile[:bio] %>
			</div>
		<% end %>

		<% unless @info[:target_user].profile[:location].empty? %>
			<div>
				<span class="glyphicon glyphicon-map-marker"></span> <%= @info[:target_user].profile[:location] %>
			</div>
		<% end %>


		<% unless @info[:target_user].profile[:date_joined].empty? %>
			<div>	
			<span class="glyphicon glyphicon-calendar"></span> Joined <%= @info[:target_user].profile[:date_joined] %>
			</div>
		<% end %>

		<%# <% unless @info[:target_user].profile[:date_joined].nil? %1> %>
		<%# 	<div> %>	
		<%# 	<span class="glyphicon glyphicon-calendar"></span> Joined <%= @info[:target_user].profile[:date_joined].strftime("%B %Y") %1> %>
		<%# 	</div> %>
		<%# <% end %1> %>


		<% unless @info[:target_user].profile[:dob].empty?  %>
			<div>
				<span class="glyphicon glyphicon-user"></span> Born on <%= @info[:target_user].profile[:dob] %>
			</div>
		<% end %>

		<%# <% unless @info[:target_user].profile[:dob].year === -4712 %1> %>
		<%# 	<div> %>
		<%# 		<span class="glyphicon glyphicon-user"></span> Born on <%= @info[:target_user].profile[:dob].strftime("%B %d, %Y") %1> %>
		<%# 	</div> %>
		<%# <% end %1> %>

    <!-- User Statistics -->
    <div class="row">
      <div class="col-xs-3">

				<h5>
					<small>TWEETS</small>
					<br>
					<a href="/user/<%= @info[:target_user]._id %>">
						<%= @info[:target_user].ntweets %>
					</a>
				</h5>

			</div> <!-- col-xs-3 -->

      <div class="col-xs-4">

				<h5>
					<small>FOLLOWING</small>
					<br>
					<a id='nfollowing' href="/user/followings/?targeted_id=<%= @info[:target_user]._id %>">
						<%= @info[:target_user].nfollowings %>
					</a>
				</h5>

			</div> <!-- col-xs-4 -->

      <div class="col-xs-5">
				<h5>
					<small>FOLLOWERS&nbsp;</small>
					<br>
					<a id='nfollowed' href="/user/followeds/?targeted_id=<%= @info[:target_user]._id %>">
						<%= @info[:target_user].nfolloweds %>
					</a>
				</h5>
			</div> <!-- col-xs-5 -->

		</div> <!-- row -->

		<a id="follow-direct" type="hidden" href="/follow">
		</a>
		<input id="targeted-id" type="hidden" value="<%= @info[:target_user]._id %>">
		</input>
			
    <!-- Follow Button -->
		<% if is_authenticated? %>
			<% if @info[:target_user]._id != @info[:login_user]._id %>
				<div>
					<button id="follow-button" class="btn btn-primary"><% if @info[:isfollowing] == true %>Following<% else %>+ Follow<% end %></button>
				</div>
			<% end %>
		<% end %>
  </div><!-- ./panel-body -->
</div><!-- ./panel-default -->
