<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= erb :profile %>
    </div>
    
    <div class="col-sm-6">
    <% if !@hide_users %>
      <h2>Users found:</h2>
      <div class="panel panel-info">
        <div class="panel-body">
	  <% if @user_results.count == 0 %>
            <p>No users with '<%= params[:query] %>' were found.</p>
	  <% else %>
	    <% @users = @user_results %>
	    <%= erb :user_list %>
	  <% end %>
	</div>
      </div>
    <% end %>

    <% if !@hide_tweets %>
      <h2>Tweets found:</h2>
      <div class="panel panel-info">
        <div class="panel-body">
	  <% if @tweet_results.count == 0 %>
            <p>No tweets containing '<%= params[:query] %>' were found.</p>	    
	  <% else %>
            <% @tweets = @tweet_results %>
            <%= erb :tweets_object %>
	  <% end %>
	</div>
      </div>
    <% end %>	
    </div>
  </div>
</div>
