<% @tweets.each do |tweet| %>
<div class="media">
  
  <a class="media-left" href="#fake">
    <img alt="" class="media-object img-rounded" src="/images/profile_64x64.png">
  </a>
  
  <div class="media-body">
    
    <div class="tweet-date">
      <%= tweet.time_created.strftime("%b %d %I:%M:%S %p") %>
    </div>
    
    <h4 class="media-heading">
      <a href="/user/<%= tweet.author_id %>">
	@<%= User.where(_id: tweet.author_id).first.handle %>
      </a>
    </h4>

    <p><%= tweet.content %></p>
    
    <ul class="nav nav-pills nav-pills-custom">
      <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
    </ul>

    <!--
	<ul class="nav nav-pills nav-pills-custom">
	  <li>
            <form action="/reply?tweet_id=<%= tweet._id %>" method="POST">	
	      <button type="submit" class="btn-link"><span class="glyphicon glyphicon-share-alt"></span></button>
	      <input type="text" name="reply[content]" placeholder="Tweet your reply.">
	    </form>
	  </li>
	  <li>
	    <form action="/retweet?tweet_id=<%= tweet._id %>" method="POST">
	      <input type="text" name="retweet[content]" placeholder="Add a comment...">
	      <button type="submit" class="btn-link"><span class="glyphicon glyphicon-retweet"></span></button>
	    </form>
	  </li>
	  <li>
	    <form action="/like?tweet_id=<%= tweet._id %>" method="POST">	
	      <button type="submit" class="btn-link"><span class="glyphicon glyphicon-star"></span></button>
	    </form>
	  </li>
	  <li>
	    <a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a>
	  </li>
	</ul>
	-->
  </div><!-- ./media-body -->
  
</div><!-- ./media -->
<% end %>
