<% @tweets.each do |tweet| %>
<% @t = tweet %>
<div class="media">
  <a class="media-left" href="#fake">
    <img alt="" class="media-object img-rounded" src="/images/profile_64x64.png">
  </a>
  
  <div class="media-body">
    
    <div class="tweet-date">
      <%= @t.time_created.strftime("%b %d %I:%M:%S %p") %>
    </div>
    
    <h4 class="media-heading">
      <% author_id = @t["author_id"] %>
      <a href=<%= $prefix + @apitoken + "/user/" +  author_id %>> @<%= @t["author_handle"] %> </a> 
    </h4>

    <p><%= @t["content"] %></p>
    <% if @t["original_tweet_id"] != nil %>
    <a href=<%= $prefix + @apitoken + "/tweet/" + @t["original_tweet_id"] %>>See original tweet</a>
    <% end %>
    
    <ul class="nav nav-pills nav-pills-custom">
      <% if is_authenticated? && author_id != @info[:login_user]._id %>
        <li><a href=<%= $prefix + @apitoken + "/reply?tweet_id=" + @t['_id'] %>><span class="glyphicon glyphicon-share-alt"></span></a></li>
        <li><a href=<%= $prefix + @apitoken + "/retweet?tweet_id=" + @t['_id'] %>><span class="glyphicon glyphicon-retweet"></span></a></li>
        <li>
          <% if @info[:login_user].like?(@t._id.to_s) %>
            <a href=<%= $prefix + @apitoken + "/unlike?tweet_id=" + @t['_id'] %>><span class="glyphicon glyphicon-star" style="color:red"></span></a>
          <% else %>
            <a href=<%= $prefix + @apitoken + "/like?tweet_id=" + @t['_id'] %>><span class="glyphicon glyphicon-star"></span></a>
          <% end %>
        </li>
      <% else %>
        <li><a name="#"><span class="glyphicon glyphicon-share-alt" style="color:grey"></span></a></li>
        <li><a name="#"><span class="glyphicon glyphicon-retweet" style="color:grey"></span></a></li>
        <li><a name="#"><span class="glyphicon glyphicon-star" style="color:grey"></span></a></li>
      <% end %>
      <li><a href=<%= $prefix + @apitoken + "/tweet/" + @t['_id'] %>><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
    </ul>
  </div>
</div>
<hr>
<% end %>
