<div class="container">
  <a class="media-left" href="#fake">
    <img alt="" class="media-object img-rounded" src="/images/profile_64x64.png">
  </a>
  <div class="media-body">
    <div class="tweet-date"><%= @tweet["time_created"] %></div>
    <h2 class="media-heading">@<%= @tweet["author_handle"] %></h2>
    <h4><%= @tweet["content"] %></h4>
  </div>
</div>

<br>

<% if @tweet["original_tweet_id"] != nil %>
  <div class="container">
    <h4>original tweet</h4>
    <a class="media-left" href="#fake">
      <img alt="" class="media-object img-rounded" src="/images/profile_64x64.png">
    </a>
    <div class="media-body">
      <div class="tweet-date"><%= @ot["time_created"] %></div>
      <h4 class="media-heading">@<%= @ot["author_handle"] %></h4>
      <p><%= @ot["content"] %></p>
    </div>
  </div>
  <hr>
<% end %>

<br>

<% if @tweet["replys"].length > 0 %>
<div class="container">
  <h4>replys</h4>
  <% @replys.each do |reply| %>
    <a class="media-left" href="#fake">
      <img alt="" class="media-object img-rounded" src="/images/profile_64x64.png">
    </a>
    <div class="media-body">
      <div class="tweet-date"><%= reply["time_created"] %></div>
      <h4 class="media-heading">@<%= reply["replier_handle"] %></h4>
      <p><%= reply["content"] %></p>
    </div>
    <hr>
  <% end %>
</div>
<% end %>


