<% @tweets.each do |tweet| %>
<div class="tweet-container">
  <div class="tweet-title">
    <div class="float-left"><a href="/user/<%= tweet.author_id %>">@<%= User.where(_id: tweet.author_id).first.handle %></a></div>
    <div class="float-right"><%= tweet.time_created.strftime("%b %d %I:%M:%S %p") %></div>
  </div>
  <div class="tweet-content"><%= tweet.content %></div>
  <div class="tweet-footer">
    <form action="/reply?tweet_id=<%= tweet._id %>" method="POST">
      <input type="text" name="reply[content]" placeholder="Tweet your reply.">
      <button type="submit" class="btn"><span class="oi oi-comment-square oi-link"></span></button>
    </form>
    <form action="/retweet?tweet_id=<%= tweet._id %>" method="POST">
      <input type="text" name="retweet[content]" placeholder="Add a comment...">
      <button type="submit" class="btn"><span class="oi oi-loop-square oi-link"></span></button>
    </form>	
    <form action="/like?tweet_id=<%= tweet._id %>" method="POST">
      <button type="submit" class="btn"><span class="oi oi-heart oi-link"></span></button>
    </form>	
  </div>
</div>
<% end %>
