<div class="container">
  <div class="row">
    <div class="col-sm-3">
			<%= erb :profile  %>
    </div>
    
    <div class="col-sm-6">
      <div class="panel panel-info">
				<br>
				<div class="panel-body">
					<% @info[:target_tweets].each do |tweet| %>

						<div class="miniprofile-container">
							<div class="miniprofile">
								<%= erb :miniprofile, :locals=>{:f=>@info[:target_user]} %>
							</div> <%# end of div miniprofile %>
						</div> <%# end of div miniprofile-container %>

						<div class="media">
							<a class="media-left" href="#fake">
								<img alt="" id='profile_in_tweet' class="media-object img-rounded" src="/images/profile_64x64.png">
							</a>

							<div class="media-body">
								<h4 class="media-heading"><%= @info[:target_user].handle %> </h4>

								<p>
									<%= tweet.content %>
								</p>

								<ul class="nav nav-pills nav-pills-custom">
									<li><a href="#"><span class="glyphicon glyphicon-share-alt"></span></a></li>
									<li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
									<li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
									<li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
								</ul>
							</div> <!-- end of div class="media-body" -->
						</div> <%# end of div class="media"%>
					<% end %>
					</div> <%# end of div panel body %>
			</div> <%# end of div panel panel panel-info %>
		</div> <%# end of div col-sm-6 %>
	<%= erb :whotofollow %>
	</div> <%# end of div row %>
</div> <%# end of div container %>
